<form (ngSubmit)="register()">
  <label for="username">Username:</label>
  <input id="username" [(ngModel)]="username" name="username" required>

  <label for="password">Password:</label>
  <input id="password" [(ngModel)]="password" name="password" type="password" required>

  <label for="fullName">Full Name:</label>
  <input id="fullName" [(ngModel)]="fullName" name="fullName" required>

  <label for="email">Full Name:</label>
  <input id="email" [(ngModel)]="email" name="email" required>

  <button type="submit">Register</button>
</form>
